<article>
    <img
      class="listing-photo"
      [src]="casasLocal?.photo"
      alt="Exterior photo of {{ casasLocal?.name }}"
      crossorigin
    />
    <section class="listing-description">
      <h2 class="listing-heading">{{ casasLocal?.name }}</h2>
      <p class="listing-location">{{ casasLocal?.city }}, {{ casasLocal?.state }}</p>
    </section>
    <section class="listing-features">
      <h2 class="section-heading">About this housing location</h2>
      <ul>
        <li>Units available: {{ casasLocal?.availableUnits }}</li>
        <li>Does this location have wifi: {{ casasLocal?.wifi }}</li>
        <li>Does this location have laundry: {{ casasLocal?.laundry }}</li>
      </ul>
    </section>
  </article>
